<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.taylorseverythingchannel.AndroidExample"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pac-Run for Android</name>

  <description>
      Pac-Run Scratch to APK conversion by Taylor_Scratch_21.
  </description>

  <author href="https://www.youtube.com/channel/UCQz8BnDuQMtrn0kFdkcXeRg/" email="stokestay21@gmail.com">
      Taylor's Everything Channel (Taylor_Scratch_21)
  </author>

<icon src="icon.png" />

</widget>